

<footer class="bg-dark text-white">
<div class="container">

    
        <div class="row header pb-4">
            <div class="col-md-4 pt-5 ">
            
                <h4><b class="">Logements par catégories</b></h4>
                <div class="body pt-3">
                    <div>
                        <a
                            class="nav-link d-flex lien-footer"
                            [routerLink]="['/logements_meublés']"
                            [routerLinkActive]="['active']"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >
                        <i class="fas fa-bed mx-2"></i>
                        Meublés
                        </a>
                    <div>
                        <a
                            class="nav-link d-flex lien-footer"
                            [routerLink]="['/logements_non_meublés']"
                            [routerLinkActive]="['active']"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <span class="material-icons mx-1 ">
                            house
                            </span>
                            Non meublés
                        </a>
                    </div>
                    </div>
                </div>
            </div>
  
            <div class="col-md-4 pt-5 ">
                
                <h4><b>A propos de MA Piol</b></h4>

                <div class="body pt-3 ">
                    
                        <a
                            class="nav-link lien-footer"
                            [routerLink]="['/home']"
                            [routerLinkActive]="['active']"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >Le concept MA Piol
                        </a>
                    
                        <a
                            class="nav-link lien-footer"
                            [routerLink]="['/home']"
                            [routerLinkActive]="['active']"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >Laissez vos avis
                        </a>
                
                    <div class="d-flex ">
                        <div class="mx-4">
                            <a class="">
                                <i class="fa-brands fa-facebook-f icone"></i>
                            </a>
                        </div>
                        <div>
                            <a class="mx-2 my-3">
                                <i class="fa-brands fa-instagram icone"></i>
                            </a>
                        </div>   
                    </div>     
                </div>
            </div>
  
            <div class="col-md-4 pt-5">
                <h4><b>Nous contacter</b></h4>
                <div class="body pt-3 ">
                    <div class="d-flex mx-3">
                        <span class="material-icons">
                            place
                        </span>
                        Yaoundé - Cameroun
                    </div>
                    <div class="mx-2 mt-1 ">
                        <a
                            class="nav-link lien-footer"
                            href="https://wa.me/237695637555"
                        >
                        <i class="fa-brands fa-whatsapp"></i>
                        +237 695637555
                        </a>
                    </div>
                    <div class="mx-2">
                        <a
                            class="nav-link lien-footer"
                            href="mailto:chimiboris7@gmail.com"
                        >
                        <i class="fa-regular fa-envelope-open"></i>
                        chimiboris7@gmail.com
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="footer p-4">
            <div class="row footer justify-content-between ">
                <div>
                    <b>MAPIOL</b> © 2021 - 2024.
                </div>
                <div> 
                    Conçu et fièrement développé par <b>CNB TECHNOLOGY</b>
                </div>
            </div>
        </div>

</div>
    
</footer>