
  

footer{
    background-color: #323232;
    
}


  
.lien-footer{
    color: #fff; 
    transition: color 0.3s ease; 
    
}
.lien-footer:hover {
    color: rgba(8, 142, 252, 0.993); 
}
.icone {
    color: #fff; 
    transition: color 0.3s ease; 
    font-size: 20px;
  }
  
  .icone:hover {
    color: rgba(8, 142, 252, 0.993); 
  }

.body{
border-top: 2px solid rgb(97, 95, 95);

}

.fa-bed-front{
    color: black;
    font-size: 20px;
  }

  .header{
    border-bottom: 1px solid #fff;
  }

  