<div class="container">

    <h1 class="p-3 bg-info text-white text-center "><b>{{pageTitle}}</b></h1>

    <div class="row pt-3 ">
        <div class="col-md-6 pt-5">
            <img src="/assets/img/groupe-etude-du-peuple-africain.jpg" class="img-fluid img"/>
        </div>
        <div class="col-md-6">
            <h1><b>La meilleure plateforme immobilière pour trouver facilement, rapidement et 
                aisaiment les logements au Cameroun</b>
            </h1>

            <p class="">
                Au Cameroun, trouver un logement en location est parfois très difficile et très pénible pour
                les populations qui se trouvent dans la necessité d'obtenir un logement en location pour 
                y vivre, et plusieurs catégories de personnes en souffrent à propos. Parfois on se retrouve à 
                marcher de jours comme de nuits sous le soleil et la pluie acharnée dans le but de trouver un 
                logement en location pour y vivre. Alors MAPIOL offre une solution rapide et fiable a tous ces
                problèmes désormais !
            </p>
        </div>  

        <div>
            <p>
                MAPIOL offre aux populations africaines et mondiales un accès gratuit, rapide et simple
                à plusieurs offres de logements meublés (chambres, studios, colocations, appartements …) 
                ou non meublés (chambres, studios, colocations, appartements …) au Cameroun.
            </p>
            <p>
                MAPIOL logement sert d’intermédiaire avec les propriétaires de logements et particuliers
                en leur donnant la possibilité de déposer une annonce sur le site afin de proposer leurs biens en 
                location sur ma-piol.
            </p>
            <p>
                Une plateforme qui aide les bacheliers, étudiants, parents et professionnels en les proposant les 
                meilleurs logements adaptés a leur besoins au Cameroun. 
            </p>    
        </div>
         
    </div>
</div>
