

<div class="container-fluid  bg-light my-3 ">
    <section class="one mb-5">
        <div class="image-container">
            <form class="overlay-form bg-light ">
                <div class="card-header text-black text-center "><h2><b>Chercher un logement en fonction de vos préférences</b></h2></div>
                <br>
                <div class="text-center text-justify">Trouvez un logement en fonction des catégories, et par la suite en fonction de votre choix de ville, 
                    de quartier et de type de logement !</div>
                    <br>
                <div class="card-footer  d-flex justify-content-between rounded-3 ">
                
                    <a
                        class="nav-link text-white btn btn-info  p-2"
                        [routerLink]="['/logements_meublés']"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <h3>Meublés</h3>
                    </a>
                        
                    <a
                        class="nav-link text-white btn btn-info p-2"
                        [routerLink]="['/logements_non_meublés']"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <h3>Non meublés</h3>
                    </a>        
                </div>
            </form> 
        </div>
    </section>
    
    <section class="two row p-3 ">
        <div class="col-md-6">
            <h2 class="text-center text-justify"><b>Comment trouver un logement qui rempli tous les critères 
                de vos besoins sur MA Piol ?</b></h2>
                <ol>
                    <li class="text-justify">Je recherche mon logement en fonction de la catégorie (meublés ou non meublés), 
                        puis en fonction des villes, des quartier et des type de logements (appartements, chambres ou studios)</li>
                    <li class="text-justify">J'entre en contact avec le proriétaire du logement</li>
                    <li class="text-justify">J'obtiens mon logement</li>
                </ol>
        </div>
        <div class="col-md-6 mt-2 h-75 ">
            <img class="img-fluid " src="/assets/img/pexels-5.jpg"/>
        </div>
    </section>

    <section class="three py-4">
        <h2 class="text-center bg-info p-3 text-white "><b>Trouver votre logement maintenant !</b></h2>
        <br>
            
        <div class="row">
            <div class="col-md-6">
                <a
                        class="nav-link non-meubles"
                        [routerLink]="['/logements_non_meublés']"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                > 
                    
                        <div class="container1">    
                            <img class="img-fluid img" src="/assets/img/pexels-10.jpg"/>
                            <div class="text-initial">
                                <h2 class="text-center "><b>Non</b></h2>
                                <h2 class="text-center"><b>meublés</b></h2>
                            </div>
                            <div class="text-alternatif">
                                <h2 class="text-center texte"><b>Consulter</b></h2>
                            </div> 
                        </div>
                </a> 
            </div>
            
            <div class="col-md-6">
                <a
                        class="nav-link meubles"
                        [routerLink]="['/logements_meublés']"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                > 
                    
                    <div class="container1">
                        <img class="img-fluid img" src="/assets/img/pexels-3.jpg"/>
                        <div class="text-initial">
                            <h2 class="text-center"><b>Meublés</b></h2>
                        </div>
                        <div class="text-alternatif">
                            <h2 class="text-center texte"><b>Consulter</b></h2>
                        </div> 
                    </div>    
                </a> 
            </div>
            
                
        </div>
                
    </section>
    
</div>
 

 